body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navBarUpBGI{
    /* border: 3px solid red; */
    width: 100%;
    height: 632px;
    background-image: url(./image/BGI.jpg);
    background-repeat: no-repeat;
    background-size: 1559px 911px;

}
.navBarUPBGI_text{
    text-align: center;
    color: tomato;
    font-size: 2em;
    padding-top: 120px;
}
button{
    padding: 10px 30px;
    color: white;
    background-color: tomato;
    border:2px solid white;
    border-radius: 40px;
    font-size: .8em;
    text-transform: uppercase;
}
button:hover{
    color: tomato;
    background-color: white;
    border:2px solid tomato;
}

.BGI{
    color: aliceblue;
}
~