body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navBarUpBGI{
    /* border: 3px solid red; */
    width: 100%;
    height: 632px;
    background-image: url(./image/BGI.jpg);
    background-repeat: no-repeat;
    background-size: 1559px 911px;
    opacity : 0.8;

}
.navBarUPBGI_text{
    text-align: center;
    color: tomato;
    font-size: 2em;
    padding-top: 120px;
   
}
button{
    padding: 10px 30px;
    color: white;
    background-color: tomato;
    border:2px solid white;
    border-radius: 40px;
    font-size: .8em;
    text-transform: uppercase;
}
button:hover{
    color: tomato;
    background-color: white;
    border:2px solid tomato;
}

.BGI_text{
    color: aliceblue;
}

/* navbar design start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border: yellow 2px solid;
    /* position: sticky; */
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
  }
  
  li a:hover {
    background-color: tomato;
    color: white;

  }
  
  /* navbar design end */


  /* navBar Down part design start */
.contianer-02{
    width: 100%;
    height: 800px;
    /* border: solid 2px red; */
    background-image: url(./image/image-02.jpg);
    background-repeat: no-repeat;
    background-size: 1533px 911px;
}
.contianer-02 h2{
    margin: 0;
    padding-top: 50px;
    text-align: center;
}
.line{
    width: 260px;
    height: 5px;
    margin: auto;
    margin-top: 15px;
    background-color: tomato;
    margin-bottom: 20px;
    border-radius: 5px;
}
.row{
   /* border: 2px solid blue; */
    display: flex;
   justify-content: center;
   margin: 30px;

}
.row img{
    width: 331px;
    height: 200px;
    border: blueviolet solid 2px;
    margin-left: 170px;
}
.colums{
    /* border: 2px solid black; */
    display: flex;
}
.colum_text{
    padding: 25px;
}
.colums h1{
    color:  rgb(49, 73, 105);;
}
.colums p{
    color: tomato;
}

/* second part design is end here */


/* favouurite apps part start here */

.contianer-03{
    width: 100%;
    border: 2px solid black;
    background: rgba(76, 175, 175, 0.3);
    /* margin: 0; */
}
.text_part{
    text-align: center;

}
.flex-contianer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.flex-items{
    text-align: center;
    box-shadow: 1px 5px 20px black;
}
.flex-items h3{
    padding: 5px;
    margin: 0;
}

.flex-items img{
    width: 200px;
    height: 180px;
}

/* favouurite apps part end here */

/* world wide design part start */
.contianer-04{
    padding: 40px;
    display: flex;
    justify-content: center;
    background: rgba(76, 175, 79, 0.199)
}
.image-04{
    width: 250px;
    height: 400px;
    border: 2px solid yellow;
}
.image-04 img{
    width: 250px;
    height: 400px;
}
.text-right{
    text-align: right;
}
.text-04{
    padding: 20px;
    border: orange 2px solid;
}

/* world wide desgined part end */

/* plans design part start */

.contianer-05{
    width: 100%;
    height: 850px ;
    border: violet 2px solid;
    background-color: rgba(208, 232, 240, 0.644);
    align-items: center;

}
.text-05{
    margin-top: 127px;
    margin-bottom: 62px;
    text-align: center;
    color: rgb(79, 79, 100);
}

.plans_flex{
    width: 100%;
    height: auto;
    border: 2px solid rgb(20, 117, 25);
    padding: 40px 0px;

    display: flex;
    justify-content: center;
}
.plans{
    border: tan 2px solid;
    width: 20%;
    text-align: center;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;}
.tilte{
    margin: 0;
    padding: 20px 0px;
    text-transform: capitalize;
    background-color: rgb(201, 226, 235) ;
    color: rgb(49, 73, 105);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.monthDiscount{
    margin: 0;
}
.plans p{
    padding: 10px 40px;
}
.plansButton{
    background-color: rgb(211, 59, 110);
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}

/* plans design part end */

/* footer design */

footer{
    text-align: center;
    padding: 15px;
    color: white;
    background-color: black;
}