body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navBarUpBGI{
    /* border: 3px solid red; */
    width: 100%;
    height: 632px;
    background-image: url(./image/BGI.jpg);
    background-repeat: no-repeat;
    background-size: 1559px 911px;

}
.navBarUPBGI_text{
    text-align: center;
    color: tomato;
    font-size: 2em;
    padding-top: 120px;
}
button{
    padding: 10px 30px;
    color: white;
    background-color: tomato;
    border:2px solid white;
    border-radius: 40px;
    font-size: .8em;
    text-transform: uppercase;
}
button:hover{
    color: tomato;
    background-color: white;
    border:2px solid tomato;
}

.BGI{
    color: aliceblue;
}

/* navbar design start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border: yellow 2px solid;
    /* position: sticky; */
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
  }
  
  li a:hover {
    background-color: tomato;
    color: white;

  }
  /* navbar design end */


  /* navBar Down part design start */
.contianer-02{
    width: 100%;
    height: 800px;
    /* border: solid 2px red; */
    background-image: url(./image/image-02.jpg);
    background-repeat: no-repeat;
    background-size: 1533px 911px;
}
.contianer-02 h2{
    margin: 0;
    padding-top: 50px;
    text-align: center;
}
.line{
    width: 260px;
    height: 5px;
    margin: auto;
    background-color: tomato;
    margin-bottom: 20px;
}
.row{
   /* border: 2px solid blue; */
    display: flex;
   justify-content: center;
   margin: 30px;

}
.row img{
    width: 331px;
    height: 200px;
    /* border: blueviolet solid 2px; */
    margin-left: 170px;
}
.colums{
    /* border: 2px solid black; */
    display: flex;
}
.colum_text{
    padding: 25px;
}
.colums h1{
    color: blueviolet;
}
.colums p{
    color: tomato;
}

/* second part design is end here */


/* favouurite apps part start here */

.contianer-03{
    width: 100%;
    border: 2px solid black;
    background-color: white;

}
.text_part{
    text-align: center;

}
.flex-contianer{
    border: 2px solid red;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.flex-items{
    border: 2px solid yellow;
    padding: 10px;
    text-align: center;
}
.flex-items img{
    width: 200px;
    height: 180px;
}

/* favouurite apps part end here */